<section class="vote">
  <h1><%= @poll.author_name -%> asks ...</h1>

  <% if @poll.has_photo? %>
    <h2><%= image_tag @poll.photo_url(:medium) -%></h2>
  <% end %>

  <% if @poll.has_question? %>
    <h3><%= @poll.question -%></h3>
  <% end %>

  <ul>
    <% if @vote.votable? %>
      <% @choices.each do |choice| %>
        <li><%= link_to choice.title, vote_path(@vote, choice_id: choice.id), method: :put, class: choice.title.downcase -%></li>
      <% end %>
    <% else %>
      <% if @vote.cast? %>
        <li class="<%= @choice.title.downcase -%>"><%= @choice.title -%></li>
      <% else %>
        <li class="closed">Closed</li>
      <% end %>
  <% end %>
  </ul>
</section>
